npm-debug.log
node_modules/
dist/
tmp/
release/
yarn-error.log
npm-error.log
.DS_Store
*.json-e
*.js-e

# 环境变量文件
.env
.env.local
.env.*
!.env.example

.vscode
.idea
.eslintcache
.yarn
.yarnrc.yml
/test-results/
/playwright-report/
/playwright/.cache/
